@media screen and (max-width : 768px) {
    * {margin: 0; padding: 0; font-size: 14px; background-size: 100% 100%; background-repeat: no-repeat; list-style: none;}
    a {color: black; text-decoration: none;}
    .clearfix::after, .clearfix::before {display: block; content: ''; clear: both;}
    
    #wrapper {}
    
    /*1. first 시작*/
    #first { position: absolute; width: 120px; top: 0; bottom: 0; background-color: rgb(56, 57, 57);}
    #logo { height: 100px; background-color: white;}
    #college { height: 25px; color: rgb(143, 154, 145); padding-top: 10px; padding-left: 5px;}
    #Mainmenu {background-color: #fdcf46}
    #Mainmenu > ul > li { height: 25px; border-bottom: 1px solid rgb(56, 57, 57); padding-left: 5px; padding-top: 7px; font-size: 13px;}
    #Mainmenu > ul > li:hover {text-align: center; }
    #Mainmenu > ul > li > ul.submenu {display: none;/*hover할 때 보이도록 미리셋팅*/ position: relative; top: -25px; left: 115px; z-index: 1; background-color: rgb(231, 231, 225); width: 170px; text-align: justify;} /*ul에 submenu클래스 연동*/
    #Mainmenu > ul > li > ul > li {border-top: 1px solid rgb(195, 197, 195); height: 21px; border-bottom: 1px solid rgb(195, 197, 195); padding-left: 10px; padding-top: 10px;} */
    #others {position: absolute; left: 0; bottom: 10px;} /*Mainmenu에 제이쿼리적용이후 이 코드 한줄이 안먹는중이다 이유는 모르겟음*/
    #others > ul > li {color: rgb(143, 154, 145); height: 25px; padding-left: 5px;}  
    #others > ul > li:hover {padding-top: 10px; color: black; background-color: #fdcf46; height: 30px; transition: 1s; width: 120px;}

    /*others세로메뉴유형*/

    



    /*2. second 시작*/
    #second { position: absolute; width: 170px; left: 120px; top: 0; bottom: 0; background-color: #e8eced;}
    #slide { height: 135px; animation-name: change-bg; animation-duration: 11s;  animation-iteration-count: infinite;}
    /*keyframe선언 후 이름은 change-bg*/
    @keyframes change-bg { 
        from {background-image: url("images/owl-sample.jpeg");}/*0%*/
        33% {background-image: url("images/owl-sample2.jpeg");}
        66% {background-image: url("images/owl-sample3.jpeg");}
        to {background-image: url("images/owl-sample.jpeg");}/*100%*/
    }

    /*3. third 시작*/
    #third {}
    #map {position: absolute; left: 290px; top: 0; bottom: 0; right: 0;}
    
    #copyright {position: fixed; bottom: 1px; right: 2px; z-index: 1;}
    #copyright > a { font-size: 11px; }
    #copyright > a > span {padding-left: 2px; font-size: 11px;} /*왜 a태그 안 span 태그는 안먹는가??*/
    #level3button {position: fixed; bottom: 38px; right: 15px; width: 35px; height: 35px; background-color: aqua; border-radius: 50%;}
}