/*나중에 styles.css파일 만들어서 옮김*/
/*------------------------------------------------------------768~2560------------------------------------------------------------*/
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 768px) and (max-width: 2560px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    list-style: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .clearfix::after,
  .clearfix::before {
    display: block;
    content: "";
    clear: both;
  }
  #skip a {
    z-index: 3;
    position: absolute;
    left: 0px;
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    line-height: 25px;
    width: 130px;
    font-size: 13px;
    text-align: center;
  }
  #skip a:focus {
    top: 0;
  }

  #wrapper {
  }

  /*1. first 시작*/
  #first {
    position: absolute;
    width: 120px;
    top: 0;
    bottom: 0;
    background-color: rgb(56, 57, 57);
    font-family: "Pretendard-Regular";
  }
  #logo {
    height: 100px;
    background-color: white;
  }
  #college {
    height: 25px;
    color: rgb(143, 154, 145);
    padding-top: 10px;
    padding-left: 5px;
  }
  #Mainmenu {
    background-color: #fdcf46;
  }
  #Mainmenu > ul > li {
    height: 25px;
    border-bottom: 1px solid rgb(56, 57, 57);
    padding-left: 5px;
    padding-top: 7px;
    font-size: 1rem;
  }
  #Mainmenu > ul > li:hover {
    text-align: center;
    cursor: pointer;
  }
  #Mainmenu > ul > li > ul.submenu {
    display: none; /*hover할 때 보이도록 미리셋팅*/
    position: relative;
    top: -25px;
    left: 115px;
    z-index: 2;
    width: 170px;
    text-align: justify;
    background-color: rgb(231, 231, 225);
    border-top: #888 1px solid;
    border-right: #888 1px solid;
    border-bottom: #888 1px solid;
  } /*ul에 submenu클래스 연동*/
  #Mainmenu > ul > li > ul.othermenu {
    display: none;
    position: relative;
    left: 115px;
    top: -289px;
    width: 170px;
    z-index: 2;
    text-align: justify;
    background-color: rgb(231, 231, 225);
    border-top: #888 1px solid;
    border-right: #888 1px solid;
    border-bottom: #888 1px solid;
  }
  #Mainmenu > ul > li > ul > li:hover {
    background-color: rgb(143, 154, 145);
  }
  #Mainmenu > ul > li > ul > li {
    border-top: 1px solid rgb(195, 197, 195);
    height: 21px;
    border-bottom: 1px solid rgb(195, 197, 195);
    padding-left: 10px;
    padding-top: 10px;
  }
  #others {
    position: absolute;
    left: 0;
    bottom: 10px;
  }
  #others > ul > li {
    height: 25px;
    padding-left: 5px;
  }
  #others > ul > li > a {
    color: rgb(143, 154, 145);
  }
  #others > ul > li:hover {
    padding-top: 10px;
    background-color: #fdcf46;
    height: 30px;
    transition: 1s;
    width: 120px;
    cursor: pointer;
  }
  #others > ul > li > a:hover {
    color: black;
    transition: 1s;
  }
  #restaurant {
    display: none;
    position: absolute;
    left: 140px;
    bottom: 23px;
    width: 170px;
    z-index: 2;
    text-align: justify;
    background-color: rgb(231, 231, 225);
    border-top: #888 1px solid;
    border-right: #888 1px solid;
    border-bottom: #888 1px solid;
  }
  #restaurant > li {
    border-top: 1px solid rgb(195, 197, 195);
    height: 21px;
    border-bottom: 1px solid rgb(195, 197, 195);
    padding-left: 10px;
    padding-top: 10px;
  }
  #restaurant > li:hover {
    cursor: pointer;
    background-color: rgb(143, 154, 145);
  }
  #restaurant > li:first-child > ul {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #restaurant > li:nth-child(2) > ul {
    display: inline-block;
    position: fixed;
    top: 25vh;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #restaurant > li:nth-child(3) > ul {
    display: inline-block;
    position: fixed;
    top: 50vh;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #restaurant > li:last-child > ul {
    display: inline-block;
    position: fixed;
    top: 75vh;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #kfood > li {
    border-top: 1px solid rgb(195, 197, 195);
    height: 27px;
    background-color: rgb(231, 231, 225);
    padding-top: 4px;
    padding-left: 5px;
  }
  #kfood > li:hover {
    cursor: pointer;
    background-color: rgb(143, 154, 145);
  }

  /*2. second 시작*/
  #second {
    display: none; /*position: absolute; width: 170px; left: 120px; top: 0; bottom: 0; background-color: #e8eced;*/
  }
  #slide {
    display: none; /*height: 135px; animation-name: change-bg; animation-duration: 11s;  animation-iteration-count: infinite;*/
  }
  /*keyframe선언 후 이름은 change-bg*/
  @keyframes change-bg {
    from {
      background-image: url("images/owl-sample.jpeg");
    } /*0%*/
    33% {
      background-image: url("images/owl-sample2.jpeg");
    }
    66% {
      background-image: url("images/owl-sample3.jpeg");
    }
    to {
      background-image: url("images/owl-sample.jpeg");
    } /*100%*/
  }

  /*3. third 시작*/
  #third {
  }
  #map {
    position: absolute;
    left: 120px;
    top: 0;
    bottom: 0;
    right: 0;
  }

  #copyright {
    position: fixed;
    bottom: 1px;
    right: 2px;
    z-index: 1;
  }
  #copyright > a {
    font-size: 0.7rem;
  }
  #copyright > a > span {
    padding-left: 2px;
    font-size: 0.7rem;
  } /*왜 a태그 안 span 태그는 안먹는가??*/
  #level3button {
    position: fixed;
    bottom: 38px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    background-color: white;
  }
  /*hover 테스트*/
  #level3button:hover {
    background-color: #888;
  }
  #level3button > img {
    width: 35px;
    height: 35px;
    position: relative;
    left: 8px;
    top: 8px;
  }
  #level3button > img:hover {
    cursor: pointer;
  }
  #findme {
    position: fixed;
    bottom: 95px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    background-color: white;
  }
  /*find me 호버하는 경우 색 변경*/
  #findme:hover {
    background-color: #888;
  }
  #findme > img {
    width: 35px;
    height: 35px;
    position: relative;
    left: 8px;
    top: 8px;
  }
  #findme > img:hover {
    cursor: pointer;
  }

  /*순환버스 오버레이 스타일*/
  #buswrap {
    position: absolute;
    left: -177px;
    top: -217px;
    width: 360px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  #buswrap:after {
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #eee;
    content: "";
    position: absolute;
    top: 196px;
    left: 164px;
  }
  #bushead {
    height: 30px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
  }
  #bushead > img {
    float: right;
    padding-right: 10px;
    padding-top: 3px;
  }
  #bushead > img:hover {
    cursor: pointer;
  }
  #businfo {
    font-size: 20px;
    background-color: #fff;
  }
  #businfoleft {
    float: left;
    width: 178px;
    height: 100px;
    border-right: 1px solid #ddd;
    text-align: center;
  }
  #businfoleft > strong {
    font-size: 25px;
  }
  #businfoleft > a {
    color: red;
  }
  #businfoleft > p {
    padding-top: 11px;
    font-size: 20px;
  }
  #businforight {
    float: left;
    width: 180px;
    height: 100px;
    text-align: center;
  }
  #businforight > strong {
    font-size: 25px;
  }
  #businforight > a {
    color: blue;
  }
  #businforight > p {
    padding-top: 11px;
    font-size: 20px;
  }
  #busetc {
    height: 60px;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    font-size: 13px;
  }
  #busetc > span {
    font-size: 10px;
  }
  #busetc > a {
    padding-left: 10px;
  }

  /*ATM마커별 커스텀오버레이*/
  .ATM {
    position: absolute;
    left: -90px;
    top: -120px; /*left: -170px; bottom: 5px;*/
    width: 180px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 10px;
    z-index: 6;
  }
  .ATM::after {
    border-top: 15px solid #eee;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    position: absolute;
    left: 75px;
    top: 100px;
  }
  #ATMempty {
    width: 180px;
    height: 10px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #ATMtop {
    width: 180px;
    height: 50px;
    background-color: #eee;
  }
  #ATMtop > a {
    padding-left: 10px;
  }
  #ATMtop > a > span > img {
    position: relative;
    top: -8px;
    left: 8px;
  }
  #ATMtop > a > span > img:hover {
    cursor: pointer;
  }
  #ATMbottom {
    margin-top: -10px;
    width: 180px;
    height: 50px;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #ATMbottom > dl {
    padding-left: 10px;
  }
  #ATMbottom > dl > dt > a {
    font-weight: bold;
  }
  #ATMbottom > dl > dt > span {
    padding-left: 5px;
    font-size: 0.8rem;
  }
  #ATMbottom > dl > dd {
    padding-left: 5px;
  }
  /*심야버스 커스텀오버레이*/
  #nightbuswrap {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 567px;
    height: 700px;
    top: 30px;
    right: 12%;
    z-index: 7;
    border: 1px solid gray;
    background-color: white;
  }
  #nightbushead {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 250px;
    background-image: url(images/2021-10\ bus.png);
    background-size: 567px 250px;
    z-index: 5;
  }
  #nightbusbody {
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    bottom: 30px;
    margin-top: -20px;
    background-image: url(https://user-images.githubusercontent.com/81807434/136660104-30a9d12f-a072-4a83-9377-2e4a6ca165aa.png);
    background-size: 560px 100%;
    z-index: 4;
  }
  #nightbusclose {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 6;
  }
  #nightbusclose > img:hover {
    cursor: pointer;
  }
  /*AB노선 구분표*/
  #ABwrap {
    display: none;
    z-index: 7;
    position: absolute;
    top: 30px;
    right: 70px;
    width: 80px;
    height: 50px;
    background-color: rgb(255, 255, 137);
    line-height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #888;
  }
  #ABwrap p {
    padding-left: 8px;
  }
  #ABwrap p a {
    color: red;
    font-weight: bold;
  }
  #ABwrap p:last-child a {
    color: blue;
  }

  #subbar {
    position: absolute;
    width: 80px;
    top: 100px;
    right: 15px;
    background-color: rgb(231, 231, 225);
    border-radius: 20px;
    border: 1px solid rgb(195, 197, 195);
    z-index: 5;
  }
  #subbar > p {
    width: 80px;
    height: 70px;
  }
  #subbar > p > img {
    width: 50px;
    height: 50px;
    padding-left: 15px;
  }
  #subbar > p > img:hover {
    cursor: pointer;
  }
  #subbar > p:first-child > img {
    width: 75px;
    padding-left: 3px;
    padding-top: 8px;
  }
  /*식당정보 오버레이*/
  #marketwrap {
    position: relative;
    width: 500px;
    height: 80vh;
    top: -10px;
    background-color: #ddd;
    font-size: 20px;
    border: 2px solid #ddd;
    z-index: 10;
  }
  #markethead {
    position: absolute;
    border-bottom: 3px solid #ddd;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    background-color: #eee;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 900;
  }
  #markethead > img {
    float: right;
    padding-right: 15px;
    padding-top: 3px;
  }
  #markethead > img:hover {
    cursor: pointer;
  }
  #globalmarketmenu {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu1 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu2 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/아우라텐동.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu3 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu4 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/다채움.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu5 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu6 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/챨리스.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu7 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/신룽푸마라탕.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu8 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu9 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu10 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/우향.jpg");
    background-size: 100% 100%;
  }
  #marketinfo {
    position: absolute;
    top: 77%;
    left: 0;
    right: 0;
    height: 15%;
    background-color: #eee;
    padding-left: 10px;
    padding-top: 5px;
  }
  #marketinfo > p:last-child {
    padding-top: 10px;
  }
  #callbutton {
    position: absolute;
    top: 92%;
    left: 0;
    right: 0;
    height: 6%;
    background-color: #0d6efd;
    text-align: center;
    color: #fff;
    padding-top: 15px;
  }
  #callbutton:hover {
    cursor: pointer;
    background-color: #0d57c5;
  }
  /*라이선스&개발자 정보*/
  #licenseWrapper {
    display: none;
    background-color: white;
    position: absolute;
    width: 567px;
    height: 700px;
    top: 30px;
    right: 12%;
    z-index: 7;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 5px;
  }
  #licenseWrapper a {
    color: black;
    text-decoration: none;
  }
  #licenseWrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  #licenseWrapper > h1 {
    float: left;
  }
  #licenseWrapper img {
    display: block;
    float: right;
    padding-right: 20px;
    padding-top: 15px;
  }
  #licenseWrapper img:hover {
    cursor: pointer;
  }
  #licenseWrapper p {
    clear: both;
  }
  #licenseWrapper > ul > li {
    padding-left: 20px;
  }
}
/*------------------------------------------------------------598~767------------------------------------------------------------*/
@media screen and (min-width: 598px) and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    list-style: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .clearfix::after,
  .clearfix::before {
    display: block;
    content: "";
    clear: both;
  }
  #skip a {
    z-index: 3;
    position: absolute;
    left: 0px;
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    line-height: 25px;
    width: 130px;
    font-size: 13px;
    text-align: center;
  }
  #skip a:focus {
    top: 0;
  }

  #wrapper {
  }

  #first {
    position: absolute;
    width: 120px;
    top: 0;
    bottom: 0;
    background-color: rgb(56, 57, 57);
    font-family: "Pretendard-Regular";
  }
  #logo {
    height: 100px;
    background-color: white;
  }
  #college {
    height: 25px;
    color: rgb(143, 154, 145);
    padding-top: 10px;
    padding-left: 5px;
  }
  #Mainmenu {
    background-color: #fdcf46;
  }
  #Mainmenu > ul > li {
    height: 25px;
    border-bottom: 1px solid rgb(56, 57, 57);
    padding-left: 5px;
    padding-top: 7px;
    font-size: 1rem;
  }
  #Mainmenu > ul > li:hover {
    text-align: center;
    cursor: pointer;
  }
  #Mainmenu > ul > li > ul.submenu {
    display: none; /*hover할 때 보이도록 미리셋팅*/
    position: relative;
    top: -25px;
    left: 115px;
    z-index: 2;
    width: 170px;
    text-align: justify;
    background-color: rgb(231, 231, 225);
    border-top: #888 1px solid;
    border-right: #888 1px solid;
    border-bottom: #888 1px solid;
  } /*ul에 submenu클래스 연동*/
  #Mainmenu > ul > li > ul.othermenu {
    display: none;
    position: relative;
    left: 115px;
    top: -289px;
    width: 170px;
    z-index: 2;
    text-align: justify;
    background-color: rgb(231, 231, 225);
    border-top: #888 1px solid;
    border-right: #888 1px solid;
    border-bottom: #888 1px solid;
  }
  #Mainmenu > ul > li > ul > li:hover {
    background-color: rgb(143, 154, 145);
  }
  #Mainmenu > ul > li > ul > li {
    border-top: 1px solid rgb(195, 197, 195);
    height: 21px;
    border-bottom: 1px solid rgb(195, 197, 195);
    padding-left: 10px;
    padding-top: 10px;
  }
  #others {
    position: absolute;
    left: 0;
    bottom: 10px;
  }
  #others > ul > li {
    height: 25px;
    padding-left: 5px;
  }
  #others > ul > li > a {
    color: rgb(143, 154, 145);
  }
  #others > ul > li:hover {
    padding-top: 10px;
    background-color: #fdcf46;
    height: 30px;
    transition: 1s;
    width: 120px;
    cursor: pointer;
  }
  #others > ul > li > a:hover {
    color: black;
    transition: 1s;
  }
  #restaurant {
    display: none;
    position: absolute;
    left: 140px;
    bottom: 23px;
    width: 170px;
    z-index: 2;
    text-align: justify;
    background-color: rgb(231, 231, 225);
    border-top: #888 1px solid;
    border-right: #888 1px solid;
    border-bottom: #888 1px solid;
  }
  #restaurant > li {
    border-top: 1px solid rgb(195, 197, 195);
    height: 21px;
    border-bottom: 1px solid rgb(195, 197, 195);
    padding-left: 10px;
    padding-top: 10px;
  }
  #restaurant > li:hover {
    cursor: pointer;
    background-color: rgb(143, 154, 145);
  }
  #restaurant > li:first-child > ul {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #restaurant > li:nth-child(2) > ul {
    display: inline-block;
    position: fixed;
    top: 25vh;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #restaurant > li:nth-child(3) > ul {
    display: inline-block;
    position: fixed;
    top: 50vh;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #restaurant > li:last-child > ul {
    display: inline-block;
    position: fixed;
    top: 75vh;
    left: 0;
    width: 140px;
    height: 24vh;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1vh solid #444;
    border-right: 2px solid #777;
  }
  #kfood > li {
    border-top: 1px solid rgb(195, 197, 195);
    height: 27px;
    background-color: rgb(231, 231, 225);
    padding-top: 4px;
    padding-left: 5px;
  }
  #kfood > li:hover {
    cursor: pointer;
    background-color: rgb(143, 154, 145);
  }

  #second {
    display: none;
  }
  #slide {
    display: none;
  }
  @keyframes change-bg {
    from {
      background-image: url("images/owl-sample.jpeg");
    } /*0%*/
    33% {
      background-image: url("images/owl-sample2.jpeg");
    }
    66% {
      background-image: url("images/owl-sample3.jpeg");
    }
    to {
      background-image: url("images/owl-sample.jpeg");
    } /*100%*/
  }

  #third {
  }
  #map {
    position: absolute;
    left: 120px;
    top: 0;
    bottom: 0;
    right: 0;
  }

  #copyright {
    position: fixed;
    bottom: 1px;
    right: 2px;
    z-index: 1;
  }
  #copyright > a {
    font-size: 0.7rem;
  }
  #copyright > a > span {
    padding-left: 2px;
    font-size: 0.7rem;
  } /*왜 a태그 안 span 태그는 안먹는가??*/
  #level3button {
    position: fixed;
    bottom: 38px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    background-color: white;
  }
  /*hover 테스트*/
  #level3button:hover {
    background-color: #888;
  }
  #level3button > img {
    width: 35px;
    height: 35px;
    position: relative;
    left: 8px;
    top: 8px;
  }
  #level3button > img:hover {
    cursor: pointer;
  }
  #findme {
    position: fixed;
    bottom: 95px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    background-color: white;
  }
  /*find me 호버하는 경우 색 변경*/
  #findme:hover {
    background-color: #888;
  }
  #findme > img {
    width: 35px;
    height: 35px;
    position: relative;
    left: 8px;
    top: 8px;
  }
  #findme > img:hover {
    cursor: pointer;
  }

  /*순환버스 오버레이 스타일*/
  #buswrap {
    position: absolute;
    left: -177px;
    top: -217px;
    width: 360px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  #buswrap:after {
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #eee;
    content: "";
    position: absolute;
    top: 196px;
    left: 164px;
  }
  #bushead {
    height: 30px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
  }
  #bushead > img {
    float: right;
    padding-right: 10px;
    padding-top: 3px;
  }
  #bushead > img:hover {
    cursor: pointer;
  }
  #businfo {
    font-size: 20px;
    background-color: #fff;
  }
  #businfoleft {
    float: left;
    width: 178px;
    height: 100px;
    border-right: 1px solid #ddd;
    text-align: center;
  }
  #businfoleft > strong {
    font-size: 25px;
  }
  #businfoleft > a {
    color: red;
  }
  #businfoleft > p {
    padding-top: 11px;
    font-size: 20px;
  }
  #businforight {
    float: left;
    width: 180px;
    height: 100px;
    text-align: center;
  }
  #businforight > strong {
    font-size: 25px;
  }
  #businforight > a {
    color: blue;
  }
  #businforight > p {
    padding-top: 11px;
    font-size: 20px;
  }
  #busetc {
    height: 60px;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    font-size: 13px;
  }
  #busetc > span {
    font-size: 10px;
  }
  #busetc > a {
    padding-left: 10px;
  }

  /*ATM마커별 커스텀오버레이*/
  .ATM {
    position: absolute;
    left: -90px;
    top: -120px; /*left: -170px; bottom: 5px;*/
    width: 180px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 10px;
    z-index: 6;
  }
  .ATM::after {
    border-top: 15px solid #eee;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    position: absolute;
    left: 75px;
    top: 100px;
  }
  #ATMempty {
    width: 180px;
    height: 10px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #ATMtop {
    width: 180px;
    height: 50px;
    background-color: #eee;
  }
  #ATMtop > a {
    padding-left: 10px;
  }
  z #ATMtop > a > span > img {
    position: relative;
    top: -8px;
    left: 8px;
  }
  #ATMtop > a > span > img:hover {
    cursor: pointer;
  }
  #ATMbottom {
    margin-top: -10px;
    width: 180px;
    height: 50px;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #ATMbottom > dl {
    padding-left: 10px;
  }
  #ATMbottom > dl > dt > a {
    font-weight: bold;
  }
  #ATMbottom > dl > dt > span {
    padding-left: 5px;
    font-size: 0.8rem;
  }
  #ATMbottom > dl > dd {
    padding-left: 5px;
  }
  /*심야버스 커스텀오버레이*/
  #nightbuswrap {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 567px;
    height: 700px;
    top: 30px;
    right: 5%;
    z-index: 7;
    border: 1px solid gray;
    background-color: white;
  }
  #nightbushead {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 250px;
    background-image: url(images/2021-10\ bus.png);
    background-size: 567px 250px;
    z-index: 5;
  }
  #nightbusbody {
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    bottom: 30px;
    margin-top: -20px;
    background-image: url(https://user-images.githubusercontent.com/81807434/136660104-30a9d12f-a072-4a83-9377-2e4a6ca165aa.png);
    background-size: 560px 100%;
    z-index: 4;
  }
  #nightbusclose {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 6;
  }
  #nightbusclose > img:hover {
    cursor: pointer;
  }
  /*AB노선 구분표*/
  #ABwrap {
    display: none;
    z-index: 7;
    position: absolute;
    top: 30px;
    right: 15px;
    width: 80px;
    height: 50px;
    background-color: rgb(255, 255, 137);
    line-height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #888;
  }
  #ABwrap p {
    padding-left: 8px;
  }
  #ABwrap p a {
    color: red;
    font-weight: bold;
  }
  #ABwrap p:last-child a {
    color: blue;
  }

  #subbar {
    position: absolute;
    width: 80px;
    top: 100px;
    right: 15px;
    background-color: rgb(231, 231, 225);
    border-radius: 20px;
    border: 1px solid rgb(195, 197, 195);
    z-index: 5;
  }
  #subbar > p {
    width: 80px;
    height: 70px;
  }
  #subbar > p > img {
    width: 50px;
    height: 50px;
    padding-left: 15px;
  }
  #subbar > p > img:hover {
    cursor: pointer;
  }
  #subbar > p:first-child > img {
    width: 75px;
    padding-left: 3px;
    padding-top: 8px;
  }
  /*식당정보 오버레이*/
  #marketwrap {
    position: relative;
    width: 500px;
    height: 80vh;
    top: -10px;
    background-color: #ddd;
    font-size: 20px;
    border: 2px solid #ddd;
    z-index: 10;
  }
  #markethead {
    position: absolute;
    border-bottom: 3px solid #ddd;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    background-color: #eee;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 900;
  }
  #markethead > img {
    float: right;
    padding-right: 15px;
    padding-top: 3px;
  }
  #markethead > img:hover {
    cursor: pointer;
  }
  #globalmarketmenu {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu1 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu2 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/아우라텐동.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu3 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/챨리스.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu4 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/다채움.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu5 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu6 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu7 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/신룽푸마라탕.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu8 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu9 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu10 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/우향.jpg");
    background-size: 100% 100%;
  }
  #marketinfo {
    position: absolute;
    top: 77%;
    left: 0;
    right: 0;
    height: 15%;
    background-color: #eee;
    padding-left: 10px;
    padding-top: 5px;
  }
  #marketinfo > p:last-child {
    padding-top: 10px;
  }
  #callbutton {
    position: absolute;
    top: 92%;
    left: 0;
    right: 0;
    height: 6%;
    background-color: #0d6efd;
    text-align: center;
    color: #fff;
    padding-top: 15px;
  }
  #callbutton:hover {
    cursor: pointer;
    background-color: #0d57c5;
  }
  /*라이선스&개발자 정보*/
  #licenseWrapper {
    display: none;
    background-color: white;
    position: absolute;
    width: 567px;
    height: 700px;
    top: 30px;
    right: 5%;
    z-index: 7;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 5px;
  }
  #licenseWrapper a {
    color: black;
    text-decoration: none;
  }
  #licenseWrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  #licenseWrapper > h1 {
    float: left;
  }
  #licenseWrapper img {
    display: block;
    float: right;
    padding-right: 20px;
    padding-top: 15px;
  }
  #licenseWrapper img:hover {
    cursor: pointer;
  }
  #licenseWrapper p {
    clear: both;
  }
  #licenseWrapper > ul > li {
    padding-left: 20px;
  }
}
/*------------------------------------------------------------0~597------------------------------------------------------------*/
@media screen and (max-width: 597px) {
  * {
    margin: 0;
    padding: 0;
    font-size: 13px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    list-style: none;
    box-sizing: border-box;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .clearfix::after,
  .clearfix::before {
    display: block;
    content: "";
    clear: both;
  }
  #skip a {
    z-index: 3;
    position: absolute;
    left: 0px;
    top: -35px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    line-height: 25px;
    width: 130px;
    font-size: 13px;
    text-align: center;
  }
  #skip a:focus {
    top: 0;
  }

  #wrapper {
  }

  /*1. first 시작*/
  #first {
    position: absolute;
    width: 100vw;
    top: 0;
    height: 81px;
    background-color: rgb(56, 57, 57);
    font-family: "Pretendard-Regular";
  }
  #logo {
    display: none;
  }
  #college {
    display: none;
  }
  #Mainmenu {
    float: left;
    width: 75vw;
    background-color: #fdcf46;
  }
  #Mainmenu > ul > li {
    float: left;
    width: 25vw;
    height: 27px;
    padding-left: 10px;
    padding-top: 6px;
    border-right: 1px solid rgb(56, 57, 57);
    border-bottom: 1px solid rgb(56, 57, 57);
    font-size: 1rem;
  } /**/
  #Mainmenu > ul > li:hover {
    padding-left: 0;
    text-align: center;
    font-weight: 900;
    background-color: rgb(231, 231, 225);
    cursor: pointer;
  }
  #Mainmenu > ul > li > ul.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 81px;
    z-index: 2;
    width: 100vw;
    height: 81px;
  } /*ul에 submenu클래스 연동*/
  #Mainmenu > ul > li > ul.othermenu {
    display: none;
    position: absolute;
    left: 0;
    top: 81px;
    z-index: 2;
    width: 100vw;
    height: 81px;
  }
  #Mainmenu > ul > li > ul > li:hover {
    background-color: rgb(143, 154, 145);
  }
  #Mainmenu > ul > li > ul > li {
    float: left;
    width: 25vw;
    height: 27px;
    border-right: 1px solid rgb(195, 197, 195);
    border-bottom: 1px solid rgb(195, 197, 195);
    padding-top: 4px;
    background-color: rgb(231, 231, 225);
  }
  #Mainmenu > ul > li > ul > li > a {
    font-size: 0.8rem;
  }
  #others {
    float: left;
    width: 25vw;
    height: 81px;
    background-color: rgb(56, 57, 57);
  }
  #others > ul > li {
    height: 27px;
    text-align: center;
    padding-top: 6px;
  }
  #others > ul > li > a {
    color: rgb(143, 154, 145);
  }
  #others > ul > li > a:hover {
    font-weight: 900;
    color: #fdcf46;
    cursor: pointer;
  }
  #restaurant {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    text-align: justify;
    background-color: #fff;
    border-bottom: 1px solid rgb(195, 197, 195);
  }
  #restaurant > li {
    float: left;
    width: 25vw;
    height: 27px;
    padding-top: 4px;
    text-align: center;
    border-right: 1px solid rgb(190, 190, 190);
  }
  #restaurant > li > a {
    font-size: 0.9rem;
    font-family: "Pretendard-Regular";
    font-weight: bold;
  }
  #kfood {
    position: absolute;
    top: 27px;
    width: 25vw;
    height: 108px;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #888;
    border-right: 2px solid #777;
  }
  #kfood > li {
    border-top: 1px solid rgb(195, 197, 195);
    height: 27px;
    background-color: rgb(231, 231, 225);
    padding-top: 4px;
  }
  #kfood > li:hover {
    cursor: pointer;
    background-color: rgb(143, 154, 145);
  }

  /*2. second 시작*/
  #second {
    display: none;
  }
  #slide {
    display: none;
  }

  /*3. third 시작*/
  #third {
  }
  #map {
    position: absolute;
    left: 0;
    top: 81px;
    bottom: 0;
    right: 0;
  }

  #copyright {
    position: fixed;
    bottom: 1px;
    right: 2px;
    z-index: 1;
  }
  #copyright > a {
    font-size: 0.7rem;
  }
  #copyright > a > span {
    padding-left: 2px;
    font-size: 0.7rem;
  } /*왜 a태그 안 span 태그는 안먹는가??*/
  #level3button {
    position: fixed;
    bottom: 38px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    background-color: white;
  }
  /*hover 테스트*/
  #level3button:active {
    background-color: #888;
  }
  #level3button > img {
    width: 35px;
    height: 35px;
    position: relative;
    left: 5.5px;
    top: 6px;
  }
  #level3button > img:hover {
    cursor: pointer;
  }
  #findme {
    position: fixed;
    bottom: 95px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    background-color: white;
  }
  /*find me 호버하는 경우 색 변경*/
  #findme:active {
    background-color: #888;
  }
  #findme > img {
    width: 35px;
    height: 35px;
    position: relative;
    left: 5.5px;
    top: 6px;
  }
  #findme > img:hover {
    cursor: pointer;
  }

  /*순환버스 오버레이 스타일*/
  #buswrap {
    position: absolute;
    left: -177px;
    top: -210px;
    width: 360px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  #buswrap:after {
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #eee;
    content: "";
    position: absolute;
    top: 189px;
    left: 164px;
  }
  #bushead {
    height: 30px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 900;
    border-bottom: 1px solid #ddd;
  }
  #bushead > img {
    float: right;
    padding-right: 10px;
    padding-top: 3px;
  }
  #bushead > img:hover {
    cursor: pointer;
  }
  #businfo {
    font-size: 20px;
    background-color: #fff;
  }
  #businfoleft {
    float: left;
    width: 178px;
    height: 100px;
    border-right: 1px solid #ddd;
    text-align: center;
  }
  #businfoleft > strong {
    font-size: 25px;
  }
  #businfoleft > a {
    color: red;
  }
  #businfoleft > p {
    padding-top: 11px;
    font-size: 20px;
  }
  #businforight {
    float: left;
    width: 180px;
    height: 100px;
    text-align: center;
  }
  #businforight > strong {
    font-size: 25px;
  }
  #businforight > a {
    color: blue;
  }
  #businforight > p {
    padding-top: 11px;
    font-size: 20px;
  }
  #busetc {
    height: 60px;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    font-size: 13px;
  }
  #busetc > span {
    font-size: 10px;
  }
  #busetc > a {
    padding-left: 10px;
  }

  /*ATM마커별 커스텀오버레이*/
  .ATM {
    position: absolute;
    left: -90px;
    top: -120px;
    width: 180px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 10px;
    z-index: 6;
  }
  .ATM::after {
    border-top: 15px solid #eee;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    position: absolute;
    left: 75px;
    top: 100px;
  }
  #ATMempty {
    width: 180px;
    height: 10px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #ATMtop {
    width: 180px;
    height: 50px;
    background-color: #eee;
  }
  #ATMtop > a {
    padding-left: 10px;
  }
  #ATMtop > a > span > img {
    position: relative;
    top: -8px;
    left: 8px;
  }
  #ATMtop > a > span > img:hover {
    cursor: pointer;
  }
  #ATMbottom {
    margin-top: -10px;
    width: 180px;
    height: 50px;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #ATMbottom > dl {
    padding-left: 10px;
  }
  #ATMbottom > dl > dt > a {
    font-weight: bold;
  }
  #ATMbottom > dl > dt > span {
    padding-left: 5px;
    font-size: 0.8rem;
  }
  #ATMbottom > dl > dd {
    padding-left: 5px;
  }
  /*심야버스 커스텀오버레이*/
  #nightbuswrap {
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 7;
  }
  #nightbushead {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 250px;
    background-image: url(images/2021-10\ bus.png);
    background-size: 100vw 250px;
    z-index: 5;
  }
  #nightbusbody {
    position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    bottom: 30px;
    margin-top: -20px;
    background-image: url(https://user-images.githubusercontent.com/81807434/136660104-30a9d12f-a072-4a83-9377-2e4a6ca165aa.png);
    background-size: 100vw 100%;
    z-index: 4;
  }
  #nightbusclose {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 6;
  }
  #nightbusclose > img:hover {
    cursor: pointer;
  }
  /*AB노선 구분표*/
  #ABwrap {
    display: none;
    z-index: 7;
    position: absolute;
    top: 120px;
    right: 50px;
    width: 80px;
    height: 50px;
    background-color: rgb(255, 255, 137);
    line-height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #888;
  }
  #ABwrap p {
    padding-left: 8px;
  }
  #ABwrap p a {
    color: red;
    font-weight: bold;
  }
  #ABwrap p:last-child a {
    color: blue;
  }

  #subbar {
    position: absolute;
    bottom: 30px;
    right: 22vw;
    background-color: rgb(231, 231, 225);
    border-radius: 20px;
    border: 1px solid rgb(195, 197, 195);
    z-index: 5;
  }
  #subbar > p {
    float: left;
    width: 70px;
    height: 45px;
  }
  #subbar > p > img {
    width: 53px;
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
  }
  #subbar > p > img:hover {
    cursor: pointer;
  }
  #subbar > p:first-child > img {
    width: 71px;
    padding-left: 10px;
  }
  #subbar > p:nth-child(2) {
    padding-left: 5px;
  }
  #subbar > p:nth-child(3) {
    padding-left: 5px;
  }

  /*식당정보 오버레이*/
  #marketwrap {
    position: relative;
    width: 100vw;
    height: 85vh;
    top: -10px;
    background-color: #ddd;
    font-size: 20px;
    border: 2px solid #ddd;
    z-index: 10;
  }
  #markethead {
    position: absolute;
    border-bottom: 3px solid #ddd;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    background-color: #eee;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 900;
  }
  #markethead > img {
    float: right;
    padding-right: 15px;
    padding-top: 3px;
  }
  #markethead > img:hover {
    cursor: pointer;
  }
  #globalmarketmenu {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu1 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu2 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/아우라텐동.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu3 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu4 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/다채움.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu5 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu6 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/챨리스.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu7 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/신룽푸마라탕.jpg");
    background-size: 100% 100%;
  }
  #globalmarketmenu8 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu9 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/업데이트중.png");
    background-size: 100% 100%;
  }
  #globalmarketmenu10 {
    position: absolute;
    top: 7%;
    height: 70%;
    left: 0;
    right: 0;
    background-image: url("images/우향.jpg");
    background-size: 100% 100%;
  }
  #marketinfo {
    position: absolute;
    top: 77%;
    left: 0;
    right: 0;
    height: 15%;
    background-color: #eee;
    padding-left: 10px;
    padding-top: 5px;
  }
  #marketinfo > p:last-child {
    padding-top: 10px;
  }
  #callbutton {
    position: absolute;
    top: 92%;
    left: 0;
    right: 0;
    height: 8%;
    background-color: #0d6efd;
    text-align: center;
    color: #fff;
    padding-top: 15px;
  }
  #callbutton:hover {
    cursor: pointer;
    background-color: #0d57c5;
  }
  /*라이선스&개발자 정보*/
  #licenseWrapper {
    display: none;
    background-color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 7;
  }
  #licenseWrapper a {
    color: black;
    text-decoration: none;
  }
  #licenseWrapper a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  #licenseWrapper > h1 {
    float: left;
  }
  #licenseWrapper img {
    display: block;
    float: right;
    padding-right: 20px;
    padding-top: 15px;
  }
  #licenseWrapper img:hover {
    cursor: pointer;
  }
  #licenseWrapper p {
    clear: both;
  }
  #licenseWrapper > ul > li {
    padding-left: 20px;
  }
}
